@tailwind base;
@tailwind components;
@tailwind utilities;

html {
	font-size: 6.25%;
	font-family: montreal;
	background-color: #e1e1e1;
	overflow-x: hidden;
}

body::-webkit-scrollbar {
	width: 0;
}

@font-face {
	src: url("../font/PPNeueMontreal.woff");
	font-family: montreal;
}

@media (max-width: 1490px) {
	html {
		font-size: 5%;
	}
}

@media (max-width: 1060px) {
	html {
		font-size: 4.5%;
	}
}
@media (max-width: 768px) {
	html {
		font-size: 3.5%;
	}
}

@media (max-width: 400px) {
	html {
		font-size: 3%;
	}
}
@media (max-width: 200px) {
	html {
		font-size: 2.5%;
	}
}

.slider {
	position: relative;
	width: 100%;
	height: 100%;
}

.slider .el {
	width: 100%;
	height: 100%;
}

.slider .el:hover .perspectiveText {
	transform: rotateX(90deg);
}

.slider .el:hover .perspectiveText p:nth-of-type(1) {
	transform: translateY(-100%);
	opacity: 0;
}

.slider .el:hover .perspectiveText p:nth-of-type(2) {
	opacity: 1;
}
.perspectiveText {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100%;
	width: 100%;
	transform-style: preserve-3d;
	transition: transform 0.75s cubic-bezier(0.76, 0, 0.24, 1);
}

.perspectiveText p {
	transition: all 0.75s cubic-bezier(0.76, 0, 0.24, 1);
	pointer-events: none;
	text-transform: uppercase;
}

.perspectiveText p:nth-of-type(2) {
	position: absolute;
	transform-origin: bottom center;
	transform: rotateX(-90deg) translateY(12px);
	opacity: 0;
}
