@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	src: url("../font/ppneuemontreal-medium.otf");
	font-family: montreal;
}

html {
	font-size: 6.25%;
}

@media (max-width: 1490px) {
	html {
		font-size: 5%;
	}
}
@media (max-width: 1060px) {
	html {
		font-size: 4.5%;
	}
}
@media (max-width: 768px) {
	html {
		font-size: 4%;
	}
}

@media (max-width: 400px) {
	html {
		font-size: 3%;
	}
}
@media (max-width: 200px) {
	html {
		font-size: 2.5%;
	}
}
